.logo-link.delighter {
  transition: all .7s ease-out;
  transform: translateY(100%);
  opacity: 0;
}
.logo-link.delighter.started {
  transform: none;
  opacity: 1;
}

.question.delighter {
    transition: all .7s ease-out;
    transform: translateY(100%);
    opacity: 0;
}
.question.delighter.started {
  transform: none;
  opacity: 1;
}

.answers.delighter.started li:nth-child(1) {
    transition: all .7s ease-out .1s;
}
.answers.delighter.started li:nth-child(2) {
    transition: all .7s ease-out .3s;
}
.answers.delighter.started li:nth-child(3) {
    transition: all .7s ease-out .5s;
}
.answers.delighter.started li:nth-child(4) {
    transition: all .7s ease-out .7s;
}
.answers.delighter.started li:nth-child(5) {
    transition: all .7s ease-out .9s;
}
.answers.delighter.started p {
    transition: all .7s ease-out 1.1s;
}

.answers.delighter.started li {
    opacity: 1;
    transform: none;
}
.answers.delighter li {
    opacity: 0;
    transform: translatey(400%);
    transition: all .7s ease-out;
}
.answers.delighter.started p {
    opacity: 1;
    transform: none;
}
.answers.delighter p {
    opacity: 0;
    transform: translatey(400%);
    transition: all .7s ease-out;
}